/* .circle {
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(221, 75, 105, 1) 100%
    );
    opacity: 0;
    transition: all cubic-bezier(.24,-0.73,.89,.24) 0.02s ;
    filter: blur(20px);


  }


 */
